body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.stopwatch {
    background-color: black;
    border-radius: 1rem;
    padding: 1rem 2rem;
    text-align: center;
}

.time {
    font-size: 5rem;
    color: white;
    margin-bottom: 1rem;
}

button {
    border: none;
    background-color: crimson;
    border-radius: 1rem;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    margin: 0 10px;
    cursor: pointer;
    font-weight: bold;
}